/* Start Variables */
:root {
  --main-color: #4d2c5e;
  --secondary-color: #ff7426;
  --section-background: #fdf8ee;
  --text-color: #1d1d1d;
  --section-padding: 60px;
  --main-duration: 0.5s;
}
/* End Variables */

/* Start Component */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* end Component */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
  /* height: 2000px; */
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end Global Rules */
/* start headr */
header {
  width: 100%;
  height: 85px;
  position: relative;
  top: 0;
  left: 0;
  background-color: var(--section-background);
}
header .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  display: block;
  width: 185px;
  height: 52px;
}
header .container .logo img {
  width: 100%;
}
header .container i {
  display: none;
}
header .container nav {
  width: 50%;
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  header .container nav {
    display: none;
  }
  header .container i {
    display: block;
    font-size: 20px;
    cursor: pointer;
  }
}
header .container nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .container nav ul li {
}
header .container nav ul li a {
  text-decoration: none;
  color: var(--text-color);
}
header .container nav ul .singin {
  display: block;
  white-space: nowrap;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: var(--section-background);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
}
/*start hero */
main {
  background-color: var(--section-background);
  background-image: url(../images/Group\ 327.png);
  background-size: cover;
}
main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  height: calc(100vh - 85px);
}
main .container .content {
  width: 50%;
  /* background-color: aquamarine; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
main .container .content h2 {
  font-size: 60px;
  line-height: 1.3;
  /* white-space: nowrap; */
}
@media (max-width: 767px) {
  main .container .content h2 {
    font-size: 35px;
  }
}

main .container .content h2 span {
  color: var(--secondary-color);
}
main .container .content p {
  color: #8a8a8a;
  line-height: 1.7;
}
main .container .image-box {
  width: 50%;
  /* background-color: burlywood; */
}
main .container .image-box img {
  max-width: 100%;
}
@media (max-width: 992px) {
  main .container .content {
    width: 100%;
    text-align: center;
  }
  main .container .image-box {
    display: none;
  }
}
/* end hero */
